.text_dep{
    color: blue;
}
.start{
    margin-top: 30px;
}
.trui{
    height: 100%;
}
.input-group{
    max-width: 600px;
}
.freq{
    text-align: center;
}
.ask{
    margin-bottom: 20px;
}